*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
}
